# **자료형**

Q1. 5층 계단 모양의 별자리를 만들어보세요. (print 사용하세요)

In [ ]:
# 실행 예시
*
**
***
****
*****

In [1]:
print("*")
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*5)

*
**
***
****
*****



---

Q2. '-'를 20개를 출력하라.

In [ ]:
# 실행 예시
--------------------

In [2]:
print("-"*20)

--------------------



---

Q3. 아래의 문자열 `line`에서 '홀'만 출력하라. (슬라이싱 이용하세요)

In [3]:
line = '홀짝홀짝홀짝홀짝홀짝'

In [ ]:
# 실행 예시
홀홀홀홀홀

In [4]:
h1 = line[0:1]
h2 = line[2:3]
h3 = line[4:5]
h4 = line[6:7]
h5 = line[8:9]
print(h1+h2+h3+h4+h5)

홀홀홀홀홀



---

Q4. 아래의 문자열 `sent`의 앞뒤 불필요한 공백을 제거하고 출력한 뒤, 알파벳 H/h의 개수를 계산하라.(대문자 H의 개수와 소문자 h의 개수의 총합을 구해야 합니다)

In [5]:
sent = '        Hello everyone. Hi. This is my husband.   '

In [ ]:
# 실행 예시
>>> print(new_sent)
Hello everyone. Hi. This is my husband.
>>> print(h_sum)
4

In [6]:
new_sent = sent.lstrip()
print(new_sent)
sent = sent.lower()
h_sum = sent.count("h")
print(h_sum)

Hello everyone. Hi. This is my husband.
4



---

Q5. 아래의 전화번호 `phone_number`에서 하이픈('-')을 제거하고 출력하라.

In [7]:
phone_number = "010-1234-5678"

In [ ]:
# 실행 예시
010 1234 5678

In [8]:
num = phone_number.split("-")
num = " ".join(num)
print(num)

010 1234 5678



---

Q6. 아래의 전화번호 `phone_number`에서 마지막 4자리만 출력하라.

In [9]:
phone_number = "010-1234-5678"

In [ ]:
# 실행 예시
5678

In [10]:
print(phone_number[-4:])

5678



---

Q7. 아래의 객체 `file_name`에 저장된 파일 이름이 'xlsx'로 끝나는지 확인하는 코드를 작성하라.

In [11]:
file_name = "report.xlsx"

In [ ]:
# 실행 예시
True

In [12]:
file_name.endswith("xlsx")

True



---

Q8. 아래의 리스트 `my`에서 중복된 요소를 제거하고, 알파벳 순으로 정렬한 리스트를 출력하라.

In [13]:
my = ['a', 'the', 'hello', 'name', 'hello', 'name', 'age']

In [ ]:
# 실행 예시
['a', 'age', 'hello', 'name', 'the']

In [14]:
my_set = set(my)
my_list = list(my_set)
my_list = sorted(my_list)
print(my_list)

['a', 'age', 'hello', 'name', 'the']



---

Q9. 아래의 리스트 `movie`에서 '스파이더맨'과 '배트맨'을 삭제하라.

In [15]:
movie = ['닥터 스트레인지', '슈퍼맨', '스파이더맨', '배트맨']

In [ ]:
# 실행 예시
['닥터 스트레인지', '슈퍼맨']

In [16]:
movie.remove('스파이더맨')
movie.remove('배트맨')
print(movie)

['닥터 스트레인지', '슈퍼맨']



---

Q10. 아래의 리스트 `nums`의 평균을 출력하라.

In [17]:
nums = [1, 2, 3, 4, 5]

In [ ]:
# 실행 예시
3.0

In [18]:
print(sum(nums)/len(nums))

3.0



---

Q11. 아래의 리스트 `interest`를 사용하여 아래와 같이 출력하라.

In [19]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [ ]:
# 실행 예시
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [20]:
s = "/".join(interest)
print(s)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우



---

Q12. 아래의 리스트 `major`에 '통계'와 '컬텍'을 추가하여 아래의 실행 예시와 같이 업데이트된 `major` 리스트를 출력하라. (요소의 위치 유의할 것.)

(`major` 객체에 새로운 리스트를 할당하지 말 것. 요소를 추가하는 리스트의 내장 함수들을 적절히 사용하여 리스트를 업데이트하세요.)

In [21]:
major = ['국문', '경영', '영상', '글경']

In [ ]:
# 실행 예시
>>> print(major)
['국문', '경영', '통계', '영상', '글경', '컬텍']

In [22]:
major.insert(2,'통계')
major.insert(5,'컬텍')
print(major)

['국문', '경영', '통계', '영상', '글경', '컬텍']



---

Q13. 아래의 딕셔너리 `ice`를 사용하여 메로나 가격을 출력하라.

In [23]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [ ]:
# 실행 예시
메로나 가격: 1000

In [24]:
print("메로나 가격:", ice['메로나'])

메로나 가격: 1000



---

Q14. 아래의 딕셔너리 `icecream`에서 아이스크림 이름 리스트를 생성하고 출력하라.

In [25]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [ ]:
# 실행 예시
['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [26]:
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']



---

Q15. 아래의 딕셔너리 `icecream`에서 아이스크림 판매 금액의 총합을 출력하라.

In [27]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [ ]:
# 실행 예시
6700

In [28]:
print(sum(list(icecream.values())))

6700



---