In [1]:
#A1
for i in range(1,10):
  print('{} X {} = {}'.format(3,i,3*i))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [4]:
#A2
for i in range(1,10):
  print('{} X {} = {}'.format(3,10-i,3*(10-i)))

3 X 9 = 27
3 X 8 = 24
3 X 7 = 21
3 X 6 = 18
3 X 5 = 15
3 X 4 = 12
3 X 3 = 9
3 X 2 = 6
3 X 1 = 3

In [5]:
#A3
i = 0
while i < 5:
  print('Hello World')
  i += 1

Hello World
Hello World
Hello World
Hello World
Hello World

In [9]:
#A4
x=3
y=1
while x==3 or x==4:
  for i in range(1,10):
    print('{} X {} = {}'.format(x,i,x*i))
  x+=1

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [10]:
#A5
birth = ['601123', '760202', '810919', '920707', '000515']
for i in birth:
  print(i[:2])

60
76
81
92
00

In [12]:
#A6
my_list = [1, 2, 3, 4]
for i in my_list[1:]:
  print(i)

2
3
4

In [13]:
#A7
num = [3, 21, 25, 44, 50, 100]
for i in num:
  if i <100 and i%5==0:
    print(i)

25
50

In [27]:
#A8
my_list = ['apple', 'Banana', 'Computer', 'donkey']
new_list = [x.capitalize() for x in my_list]
for i in new_list:
  print(i)
print(new_list)

Apple
Banana
Computer
Donkey
['Apple', 'Banana', 'Computer', 'Donkey']

In [32]:
#A9
my_list = ['apple', 'Banana', 'Computer', 'donkey']
for i in my_list:
  if i[0].isupper() == True:
    print(i)

Banana
Computer

In [33]:
#A10
my_list = ['apple', 'Banana', 'Computer', 'donkey']
for i in my_list:
  if i[0].isupper() == False:
    print(i)

apple
donkey

In [38]:
#A11
files = ['biology.ppt', 'economics.txt', 'linguistics.hwp', 'mathematics.xlsx', 'statistics.hwp']
for count,value in enumerate(files):
  if value.endswith('hwp'):
    print('{}번 파일: {}'.format(count+1, value))

3번 파일: linguistics.hwp
5번 파일: statistics.hwp

In [41]:
#A12
for i in range(10):
  print(10-i)

10
9
8
7
6
5
4
3
2
1

In [46]:
#A13
sum = 0
for i in range(1,11):
  sum = sum +i
print('합계:',sum)

합계: 55

In [49]:
#A14
my_list = ["가", "나", "다", "라"]
s=''
for i in range(3):
  s = my_list[i]+" "+my_list[i+1]
  print(s)

가 나
나 다
다 라

In [52]:
#A15
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  s = '{} 호\n{} 호\n-----'.format(i[0],i[1])
  print(s)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [56]:
#A16
day = [ ['월', '화'], ['수', '목'], ['토', '일'] ]
for i in day:
  for j in i:
    s = '{}요일'.format(j)
    print(s)

월요일
화요일
수요일
목요일
토요일
일요일

In [57]:
#A17
my_list = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
new_list = []
for i in my_list:
  for j in i:
    new_list.append(j)
print(new_list)

[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450, 15050, 15550, 14900]

In [61]:
#A18
a = input("원하는 메뉴를 입력하세요. 주문완료시 '완료'를 입력하세요:")
count = 0
cost = 0
while a != "완료":
  count += 1
  if a == "아메리카노":
    cost += 2000
  elif a == "카페라떼":
    cost += 2500
  elif a == "밀크티":
    cost += 3000
  elif a == "베이글":
    cost += 3000
  elif a == "모닝세트":
    cost += 3500
  print('{}를 입력하셨습니다'.format(a))
  a = input('원하는 메뉴를 입력하세요. 주문완료시 "완료"를 입력하세요:')

print('총 {} 가지 메뉴 주문하셨으며, 총 금액은 {} 입니다\n감사합니다!'.format(count,cost))

원하는 메뉴를 입력하세요. 주문완료시 '완료'를 입력하세요:아메리카노
아메리카노를 입력하셨습니다
원하는 메뉴를 입력하세요. 주문완료시 "완료"를 입력하세요:베이글
베이글를 입력하셨습니다
원하는 메뉴를 입력하세요. 주문완료시 "완료"를 입력하세요:밀크티
밀크티를 입력하셨습니다
원하는 메뉴를 입력하세요. 주문완료시 "완료"를 입력하세요:완료
총 3 가지 메뉴 주문하셨으며, 총 금액은 8000 입니다
감사합니다!

In [64]:
#A19
num = int(input('숫자를 입력하세요: '))
if num%2 == 0:
  print("짝수")
else:
  print("홀수")

숫자를 입력하세요: 30
짝수

In [65]:
#A20
ice = {'비비빅': 1000, '누가바': 1500, '와': 2000}
a = input("아이스크림 가격을 알려드립니다:")
if a in ice.keys():
  print(ice[a])
else:
  print("알수없음")

아이스크림 가격을 알려드립니다:누가바
1500

In [67]:
#A21
score = int(input("점수를 입력하세요:"))
if 81<=score<=100:
  print('grade is A')
elif 61<=score<=80:
  print('grade is B')
elif 41<=score<=60:
  print('grade is C')
elif 21<=score<=40:
  print('grade is D')
elif 0<=score<=20:
  print('grade is E')

점수를 입력하세요:83
grade is A

In [76]:
#A22
a = input("금액을 입력하세요: ")
cost, kind = a.split(" ")
cost = float(cost)
if kind == "달러":
  won = cost*1167
elif kind =="엔":
  won = cost*1.096
elif kind =="유로":
  won = cost*1268
elif kind =="위안":
  won = cost*171
print("{:.2f} 원".format(won))

금액을 입력하세요: 100 달러
116700.00 원

In [70]:
#A23
brand_list = ['커피빈', '투썸플레이스', '탐앤탐스']
brand = input("브랜드를 입력하세요: ")
if brand in brand_list:
  print("이미 존재합니다")
else:
  brand_list.append(brand)
  print("{}를 추가하였습니다".format(brand))
  print(brand_list)

브랜드를 입력하세요: 커피빈
이미 존재합니다

In [71]:
#A24
def operator(x,y):
  print('{} + {} = {}'.format(x,y,x+y))
  print('{} - {} = {}'.format(x,y,x-y))
  print('{} * {} = {}'.format(x,y,x*y))
  print('{} / {} = {}'.format(x,y,x/y))
operator(4,5)

4 + 5 = 9
4 - 5 = -1
4 * 5 = 20
4 / 5 = 0.8

In [73]:
#A25
menu = {'아메리카노':2000, '카페라떼':2500, '밀크티':3000, '카푸치노':3500, 
        '아이스티':2500, '연유라떼':2500, '바닐라라떼':3500, '카페모카':3500,
        '카라멜마끼아또':4000, '레몬에이드':3000, '자몽에이드':3000}
def order(*args):
  for i in args:
    if i in menu.keys():
      print("{}는 {}원입니다.".format(i,menu[i]))
    else:
      print("{}는 판매하지 않습니다.".format(i))
order('아메리카노', '카페라떼', '아포가토', '카푸치노')

아메리카노는 2000원입니다.
카페라떼는 2500원입니다.
아포가토는 판매하지 않습니다.
카푸치노는 3500원입니다.